<!DOCTYPE html>
<html lang="en">
<head> <title>Moth</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/iconbar.css">
    <link rel="stylesheet" href="css/banner.css">
    <link rel="stylesheet" href="css/style.css">
      <py-env>
        - numpy
        - matplotlib
      
      
      </py-env>

</head>
<body>

<!-------------------------------Nav bar section-------------------------------------------->
<!-------------------------------Nav bar section-------------------------------------------->
<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"  >
     <div class="container-fluid">
       <a class="navbar-brand" href="#">Butterfly</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
      
  <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ms-auto">
             <li id="home-item" class="nav-item font-weight-bold">
                 <a class="nav-link " href="index.html">Home</a>
             </li>
             
             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Lepidoptera apps</a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <a class="dropdown-item" href="#">Butterfly</a>
                     <a class="dropdown-item" href="moth.html">Moth</a>
                     <a class="dropdown-item" href="skipper.html">Skipper</a>
                 </div>
             </li>
             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                 Object measurements apps</a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <a class="dropdown-item" href="pupae_size.html">Pupae Size</a>
                     <a class="dropdown-item" href="#">Pupae Gender</a>
                     <a class="dropdown-item" href="#">Pupae Defects</a>
                     <a class="dropdown-item" href="#">Pupae Day Old</a>
                 </div>
             </li>
             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Object Identification apps</a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <a class="dropdown-item" href="#">Lepidoptera</a>
                     <a class="dropdown-item" href="#">Host Plants</a>
                     <a class="dropdown-item" href="#">Predators</a>
                 </div>
             </li>
             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Match Identifier Apps</a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <a class="dropdown-item" href="#">Butterfly and Hosplants</a>
                 </div>
             </li>
             <li class="nav-item dropdown">
                 <a class="nav-link" href="#">Setting</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#">Rate</a>
             </li>
             <li class="nav-item dropdown">
               <a class="nav-link" href="#">Weather</a>
             </li>
             <li class="nav-item dropdown">
              <a class="nav-link" href="dashboard.html">Dashboard</a>
            </li>
         </ul>
     </div>
  </div>
  </div>
  </div>
  </nav>
  </section>
  <!-----------------------------Category section--------------------------------------------->
<br>
<hr>
    <div class="container-fluid">
      <img class="imagebackground" src="icon/butrelease1.png" alt="" srcset="">
  </div> 
    <nav class="navbar navbar-expand-sm navbar-dark bg-light fixed-bottom">
      <div class="icon-bar">
          <a class="active " href="index.html"><img src = "icon\Homey.png"></a>
          <a href="lepidoptera.html"><img src = "icon\butterfly.png"></a>
          <a href="alarm.html"><img src = "icon\alarm.png"></a>
          <a href="identifier.html"><img src = "icon\semanticsegmentation.png"></a>
          <a href="map.html"><img src = "icon\globe.png"></a>
        </div>
    </nav>
    <hr>
    <div id="intro-section" class="row">
                <div class="col-xl-4 text-center">    
                      <div class="card">
                        <img class="img-fluid card-img-top" src="icon/butterfly.png" alt="Avatar" >
                        <div class="container-fluid">
                          <h4><b>Butterfly</b></h4>
                          <button class="btn-primary">Lepidoptera</button>
                        </div>
                      </div>
                      <div class="card">
                        <img class="img-fluid card-img-top" src="icon/butterfly.png" alt="Avatar" >
                        <div class="container">
                          <h4><b>Moth</b></h4>
                          <button class="btn-primary">Lepidoptera</button>
                        </div>
                    </div>
                </div> 
                <div class="col-xl-4 text-center">
                  <div class="card">
                    <img class="img-fluid card-img-top" src="icon/butterfly.png" alt="Avatar" >
                    <div class="container-fluid">
                      <h4><b>Moth</b></h4>
                      <button class="btn-primary">Lepidoptera</button>
                    </div>

                  </div>
                  <div class="card">
                    <img class="img-fluid card-img-top" src="icon/butterfly.png" alt="Avatar" >
                    <div class="container-fluid">
                      <h4><b>Moth</b></h4>
                      <button class="btn-primary">Lepidoptera</button>
                    </div>
                  </div>
                
               <div class="col-xl-4 text-center">
                <div class="card">
                  <img class="img-fluid card-img-top" src="icon/butterfly.png" alt="Avatar" >
                  <div class="container-fluid">
                    <h4><b>Moth</b></h4>
                    <button class="btn-primary">Lepidoptera</button>
                  </div>
                </div>
                <div class="card">
                  <img class="img-fluid card-img-top" src="icon/butterfly.png" alt="Avatar" >
                  <div class="container-fluid">
                    <h4><b>Moth</b></h4>
                    <button class="btn-primary">Lepidoptera</button>
                  </div>
                </div>
             </div>
            </div>
 <hr/>
    <script src="jquery-3.6.0.slim.min.js"> </script>
    <script src="js/bootstrap.bundle.min.js"></script>
        </div> 
    </div>   
</body>
</html>