<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/CustomStyle.css">
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Butterflies</title>
</head>
<body>
    <header class="container center-align">
    <h1>Butterflies Classification </h1>
    <label><input type="checkbox" name="Butterflies" checked> Classifications and Stages</label><br>
    <label><input type="radio" name="Butterfly Stages" checked> Eggs </label>
    <label><input type="radio" name="Butterfly Stages"> Larvae</label>
    <label><input type="radio" name="Butterfly Stages" checked> Pupae </label>
    <label><input type="radio" name="Butterfly Stages"> Adult</label><br>
    <h1>Moths Classification </h1>
    <label><input type="checkbox" name="Butterflies" checked> Classifications and Stages</label><br>
    <label><input type="radio" name="Butterfly Stages" checked> Eggs </label>
    <label><input type="radio" name="Butterfly Stages"> Larvae</label>
    <label><input type="radio" name="Butterfly Stages" checked> Pupae </label>
    <label><input type="radio" name="Butterfly Stages"> Adult</label><br>
    <h1>Skipper Classification </h1>
    <label><input type="checkbox" name="Butterflies" checked> Classifications and Stages</label><br>
    <label><input type="radio" name="Butterfly Stages" checked> Eggs </label>
    <label><input type="radio" name="Butterfly Stages"> Larvae</label>
    <label><input type="radio" name="Butterfly Stages" checked> Pupae </label>
    <label><input type="radio" name="Butterfly Stages"> Adult</label><br>
    </header>

    <div class="container">
    
    </div>

    <a style="display:block" class="center-align" href="/admin">Admin Login</a>
</body>
</html>