<!DOCTYPE html>
<html lang="en">
<head><title>Document</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'css/iconbar.css' %}">
<link rel="stylesheet" href="css/banner.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/article.css">


</head>
<body>
 
<!-------------------------------Nav bar section-------------------------------------------->
<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"  >
     <div class="container-fluid">
       <a class="navbar-brand" href="#">Dashboard</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
      
  <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ms-auto">
             <li id="home-item" class="nav-item font-weight-bold">
                 <a class="nav-link " href="index.html">Home</a>
             </li>
             
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lepidoptera apps</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="butterfly.html">Butterfly</a>
                            <a class="dropdown-item" href="moth.html">Moth</a>
                            <a class="dropdown-item" href="skipper.html">Skipper</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Object measurements apps</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="pupae_size.html">Pupae Size</a>
                            <a class="dropdown-item" href="pupae_gender.html">Pupae Gender</a>
                            <a class="dropdown-item" href="pupae_defects.html">Pupae Defects</a>
                            <a class="dropdown-item" href="pupae_dayold.html">Pupae Day Old</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Object Identification apps</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="lepidoptera.html">Lepidoptera</a>
                            <a class="dropdown-item" href="hostplantidentifier.html">Host Plants</a>
                            <a class="dropdown-item" href="predators.html">Predators</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Object Sgement Apps</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="objectidentifier.html">Butterfly and Hosplants</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="setting.html">Setting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="rate.html">Rate</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="weather.html">Weather</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
            </ul>
    </div>
                    </nav>
                    </section>
<!-----------------------------Category section--------------------------------------------->
<hr>
<br>
<header class="text-center"> <h1>You Name: Client</h1> </header>  
<div class="row icon-boxes"> 
    
<section class="container">
          <div id="intro-section" class="row">
                  <div class="col-xl-4 text-center btn">
                      <div>
                        <img class="img-fluid" src="icon/product.png"/><br>
                        <h2 class="display-6">Products</h2>
                      </div>
                  </div>
                  <div class="col-xl-4 text-center btn">
                      <div>
                        <a href="customer.html">
                        <img class="img-fluid" src="icon/customer.png"/>
                        </a><br>
                        <a href="http://"><h2 class="display-6 a"> Customer</h2></a>
                        
                      </div>
                  </div>
                  <div class="col-xl-4 text-center btn">
                      <div>
                        <img class="img-fluid" src="icon/rank.png"/><br>
                        <h2 class="display-6">Ranking</h2>
                      </div>  
                    </div>
                  </div>
                  </div>
          </div>
        </div>
</section>
</div><br><br>
<section class="container">
    <div id="intro-section" class="row">
            <div class="col-xl-3 text-center">
                <div>
                    <span class="dot"></span>
                   <a href="http://" class="btn btn-succes"><h2 class="display-8">Lepidoptera</h2></a> 
                </div>
            </div>
            <div class="col-xl-3 text-center">
                <div>
                    <span class="dot"></span>
                    <a href="http://" class="btn btn-succes"><h2 class="display-8">Gift Checks</h2></a>
                </div>
            </div>
            <div class="col-xl-3 text-center">
                <div>
                    <span class="dot"></span>
                    <a href="http://" class="btn btn-succes"><h2 class="display-8">Monthly Points</h2></a>
                </div>  
            </div>
            <div class="col-xl-3 text-center">
                <div>
                    <span class="dot"></span>
                    <a href="http://" class="btn btn-succes"><h2 class="display-8">Yearly Points</h2></a>
                </div>  
            </div>
      </div>
</section>

<nav class="navbar navbar-expand-sm navbar-dark bg-light fixed-bottom">
  <div class="icon-bar">
      <a class="active " href="index.html"><img src = "icon\Homey.png"></a>
      <a href="butterfly.html"><img src = "icon\butterfly.png"></a>
      <a href="alarm.html"><img src = "icon\alarm.png"></a>
      <a href="identifier.html"><img src = "icon\semanticsegmentation.png"></a>
      <a href="map.html"><img src = "icon\globe.png"></a>
    </div>
</nav>
<hr>
    <script src="jquery-3.6.0.slim.min.js"> </script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>


