{% extends 'base.html' %}
{% load humanize %}
<!-- Add this-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    {% block pagecontent %}
    <div class="table-div">
        <table class="table">
            <thead>
                <tr>
                    <th>Celebrity Name</th>
                    <th>Net Worth</th>
                </tr>
            </thead>
            <tbody>
                {% for celebrity in data %}
                <tr>
                    <td>{{ celebrity.name }}</td>
                    <td>$ {{ celebrity.worth | intcomma }}</td>
                    <!--Modify this line-->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'partials/nav-bar.html' %}
    {% endblock %}
</body>

</html>