<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/CustomStyle.css">
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Diseases Detection</title>
</head>
<body>
    <header class="container center-align">
    <h1>Butterfly Diseases </h1>
    <label><input type="checkbox" name="Butterflies" checked> Active</label><br>
    <label><input type="checkbox" name="Butterflies" checked> Sicked</label>
    <h1>Larvae Diseases </h1>
    <label><input type="checkbox" name="Butterflies" checked> Active</label><br>
    <label><input type="checkbox" name="Butterflies" checked> Sicked</label>
    <h1>Pupae Diseases </h1>
    <label><input type="checkbox" name="Butterflies" checked> Active</label><br>
    <label><input type="checkbox" name="Butterflies" checked> Sicked</label>
    <h1>Leaves Diseases </h1>
    <label><input type="checkbox" name="Butterflies" checked> Disease #</label><br>
    <label><input type="checkbox" name="Butterflies" checked> Disease #</label>
    </header>

    <div class="container">
    
    </div>

    <a style="display:block" class="center-align" href="/admin">Admin Login</a>
</body>
</html>