<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/CustomStyle.css">
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Temperature</title>
</head>
<body>
        <div class="container">  
                <h1>Temperature</h1>  
                <div class="row">       
                           
                  
             <header class="container center-align">
                    <p>Check Temperature</p>
                <h1>Fahrenhiet </h1> 
                    <label><input type="checkbox" name="Butterflies" checked> Good Temperature</label><br>
                    <label><input type="checkbox" name="Butterflies" checked> Bad Temperature</label>
                <h1>Celsius </h1>
                    <label><input type="checkbox" name="Butterflies" checked> Good Temperature</label><br>
                    <label><input type="checkbox" name="Butterflies" checked> Bad Temperature</label>  
            </header>
                <a style="display:block" class="center-align" href="/admin">Admin Login</a>
        </div><br> 
</body>
</html>