<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Marl insects and butterfly garden</title>
    <link rel="stylesheet" href="CustomStyle.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<form class="">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for=inputEmail>Email</label>
                    <input type="text" id="txtEmail" class="form-control" placeholder="Your Email">
                    <span class="glyphicon" glyphicon-ok form-control-feedback"></span>

                    <label for=inputPassword>Password</label>
                    <input type="text" id="txtPassword" class="form-control" placeholder="Your Password">
                    <span class="glyphicon" glyphicon-ok form-control-feedback"></span>


                    <button class="btn" id="btnSUbmit">Submit</button>
                    <span class="glyphicon" glyphicon-ok form-control-feedback"></span>
                </div>
            </div>

        </div>
    </div>
</form>

<script scr="js/bootstrap.min.js"></script>
</body>

</html>