{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}ML Butterfly{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js' %}"></script>
    <script src="{% static 'https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/iconbar.css' %}">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/article.css">
    
    <py-env>
        - numpy
        - matplotlib
        - pickle
        - gradio
    
    
    </py-env>



</head>

<body>
    {% include 'lepidoptera/nav-bar.html' %}
    {% block pagecontent %}
    <div class="container">
        {% block content %}
        <h1>Titanic survival prediction</h1>
        <form action="{% urls 'lepidoptera/result.html' %}">
          {% csrf_token %}
          
          <p>Passenger Class:</p>
          <input type="text" name="pclass">
          <br>
    
          <p>Sex:</p>
          <input type="text" name="sex">
          <br>
    
          <p>Age:</p>
          <input type="text" name="age">
          <br>
    
          <p>Sibsp:</p>
          <input type="text" name="sibsp">
          <br>
    
          <p>Parch:</p>
          <input type="text" name="parch">
          <br>
    
          <p>Fare:</p>
          <input type="text" name="fare">
          <br>
    
          <p>Embark Category C:</p>
          <input type="text" name="embC">
          <br>
    
          <p>Embark Category Q:</p>
          <input type="text" name="embQ">
          <br>
          
          <p>Embark Category S:</p>
          <input type="text" name="embS">
          <br>
    
          <input type="submit" value='Get Predictions'>
        </form>
        {% endblock content %}
        
    </div>
    {% endblock pagecontent %}

</body>

</html>